@import 'assets/styles/settings/colors';
@import 'assets/styles/tools/fontMixins';

.tabs-header {
    @include font-book-36;
    display: flex;
    padding: 0 60px;
  
    &__item {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative;
      height: 85px;
      line-height: 85px;
      cursor: pointer;
  
      &:after {
        content: '';
        width: 99%;
        height: 9px;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 3px;
        background-color: $color-whisper;
      }
  
      &--active {
        font-weight: bold;
        cursor: default;
        &:after {
          background-color: $color-maroon-flush;
        }
      }
    }
  }