.popup-container {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -8px;
    left: -8px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;

    .popup-content {
        width: 400px;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        z-index: 10;
        position: relative;

        .text {
            box-sizing: border-box;
            text-align: center;
            margin: 0 30px 70px;
            padding-top: 30px;
        }

        .control {
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 20px;
            
            button {
                height: 50px;
                width: 100px;
                margin: 0 50px;
            }

            .ok-button {
                margin: 0 150px;
            }
        }
    }
}