.close-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;

  &:after,
  &:before {
    content: '';
    width: 47px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 26px;
    left: 8px;
    cursor: pointer;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }
}