@import 'assets/styles/settings/global';
@import 'assets/styles/tools/fontMixins';
@import 'assets/styles/tools/globalMixins';

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.header-160 {
  font-family: $fn-FuturaComBookBold;
  font-size: 134px;
  letter-spacing: 16px;
  line-height: 160px;
}

.header-100 {
  @include font-bold-oblique-100;
}

.header-60 {
  @include font-bold-oblique-60;
}

.header-48 {
  @include font-heavy-48;
}

.header-36 {
  @include font-heavy-36;
  letter-spacing: 4px;
}

.header--ellipsis {
  @include overflow-ellipsis;
}

.header-48--ellipsis {
  @extend .header-48;
  @extend .header--ellipsis;
  text-align: center;
}