@import 'assets/styles/settings/colors';
@import 'assets/styles/tools/globalMixins';

.page__container {
  padding: 0 95px;
}

.top-animated__container {
  height: 100%;
  background-color: $color-black;
  width: $appWidth;
  left: 50%;
  transform: translateX(-50%);
  padding: 165px 65px 10px;
  position: fixed;
  box-sizing: border-box;
  text-align: center;
  transition: .4s opacity, .4s top;
  top: -100%;
  opacity: 0;
  overflow: auto;
  z-index: 3;

  &.active {
    top: 0;
    opacity: 1;
  }
}