@import 'assets/styles/settings/colors';

.rc-swipeout-content {
  background-color: $color-black;
}

.rc-swipeout-btn {
  background-color: $color-crimson-01;
  color: $color-white;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
}