@import 'assets/styles/tools/globalMixins';

.clearfix {
  overflow: auto;
}

.center {
  text-align: center;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.ellipsis {
  @include overflow-ellipsis;
}