@import 'assets/styles/settings/colors';

.header {
    height: 80px;
    background-color: cadetblue;
    display: flex;

    .header-container {
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;

        &-middle {
            width: 60%;
        }

        &-right {
            width: 25%;
        }

        .header-item {
            height: 40px;
            margin: 0 20px;
            padding: 5px;
            border: 4px solid skyblue;
            border-radius: 20px;
            font-size: 30px;
            text-align: center;
        }
    }
}

