@import '../settings/global';

@mixin font-face($family, $fileName, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$fontPath}#{$fileName}.woff2') format('woff2'), url('#{$fontPath}#{$fileName}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-medium-20 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 20px;
  letter-spacing: 3px;
}

@mixin font-medium-24 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 24px;
}

@mixin font-medium-30 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 30px;
}

@mixin font-medium-36 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 36px;
}

@mixin font-medium-38 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 38px;
}

@mixin font-medium-40 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 40px;
}

@mixin font-medium-44 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 44px;
}

@mixin font-book-36 {
  font-family: $fn-FuturaComBook;
  font-size: 36px;
  letter-spacing: 1px;
}

@mixin font-book-48 {
  font-family: $fn-FuturaComBook;
  font-size: 48px;
  letter-spacing: 1px;
}

@mixin font-book-oblique-48 {
  font-family: $fn-FuturaComBookOblique;
  font-size: 48px;
  letter-spacing: 1px;
}

@mixin font-bold-42 {
  font-family: $fn-FuturaComBookBold;
  font-size: 42px;
  letter-spacing: 1px;
}

@mixin font-bold-oblique-36 {
  font-family: $fn-FuturaComBoldOblique;
  font-size: 36px;
  letter-spacing: 1px;
}

@mixin font-bold-oblique-48 {
  font-family: $fn-FuturaComBoldOblique;
  font-size: 48px;
  letter-spacing: 1px;
}

@mixin font-bold-oblique-60 {
  font-family: $fn-FuturaComBoldOblique;
  font-size: 60px;
  letter-spacing: 1px;
}

@mixin font-bold-oblique-100 {
  font-family: $fn-FuturaComBoldOblique;
  font-size: 100px;
  letter-spacing: 1px;
}

@mixin font-heavy-20 {
  font-family: $fn-FuturaComBookBold;
  font-size: 20px;
  letter-spacing: 2px;
}

@mixin font-heavy-16 {
  font-family: $fn-FuturaComBookBold;
  font-size: 16px;
  letter-spacing: 2px;
}

@mixin font-heavy-25 {
  font-family: $fn-FuturaComBookBold;
  font-size: 25px;
  letter-spacing: 2px;
}

@mixin font-heavy-30 {
  font-family: $fn-FuturaComBookBold;
  font-size: 30px;
  letter-spacing: 3px;
}

@mixin font-heavy-32 {
  font-family: $fn-FuturaComBookBold;
  font-size: 32px;
  letter-spacing: 0;
}

@mixin font-heavy-36 {
  font-family: $fn-FuturaComBookBold;
  font-size: 36px;
}

@mixin font-heavy-38 {
  font-family: $fn-FuturaComBookBold;
  font-size: 38px;
}

@mixin font-heavy-40 {
  font-family: $fn-FuturaComBookBold;
  font-size: 40px;
  letter-spacing: 4px;
}

@mixin font-heavy-42 {
  font-family: $fn-FuturaComBookBold;
  font-size: 42px;
  letter-spacing: 8px;
}

@mixin font-heavy-48 {
  font-family: $fn-FuturaComBookBold;
  font-size: 48px;
  letter-spacing: 4px;
}

@mixin font-heavy-52 {
  font-family: $fn-FuturaComBookBold;
  font-size: 52px;
  letter-spacing: 4px;
}

@mixin font-heavy-60 {
  font-family: $fn-FuturaComBookBold;
  font-size: 60px;
  letter-spacing: 4px;
}

@mixin font-heavy-72 {
  font-family: $fn-FuturaComBookBold;
  font-size: 72px;
}

@mixin font-heavy-90 {
  font-family: $fn-FuturaComBookBold;
  font-size: 90px;
  letter-spacing: 4px;
}

@mixin font-heavy-oblique-36 {
  font-family: $fn-FuturaComBookBoldItalique;
  font-size: 36px;
  letter-spacing: 4px;
}

@mixin font-heavy-oblique-42 {
  font-family: $fn-FuturaComBookBoldItalique;
  font-size: 42px;
  letter-spacing: 4px;
}

@mixin font-light-25 {
  font-family: $fn-FuturaComBookNormal;
  font-size: 25px;
  letter-spacing: 0;
}

@mixin font-light-36 {
  font-family: $fn-FuturaComLight;
  font-size: 36px;
  letter-spacing: 0;
}

@mixin font-light-48 {
  font-family: $fn-FuturaComLight;
  font-size: 48px;
  letter-spacing: 0;
}

@mixin font-std-heavy-25 {
  font-family: $fn-FuturaStdHeavy;
  font-size: 25px;
  letter-spacing: 0;
}

@mixin font-std-heavy-30 {
  font-family: $fn-FuturaStdHeavy;
  font-size: 30px;
  letter-spacing: 0;
}

@mixin font-std-heavy-30-6 {
  font-family: $fn-FuturaStdHeavy;
  font-size: 30px;
  letter-spacing: 6;
}

@mixin font-std-heavy-42 {
  font-family: $fn-FuturaStdHeavy;
  font-size: 42px;
  letter-spacing: 4px;
}

@mixin font-std-heavy-50 {
  font-family: $fn-FuturaStdHeavy;
  font-size: 50px;
  letter-spacing: 0;
}

@mixin font-std-heavy-oblique-25 {
  font-family: $fn-FuturaStdHeavyOblique;
  font-size: 25px;
  letter-spacing: 0;
}
