@import '../settings/global';
@import '../settings/colors';

@mixin page-padding {
  text-align: center;
  padding: 63px 95px 0;
}

@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin arrow-right {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;
  border-left: 35px solid $color-crimson-01;
  color: $color-crimson-01; //color is needed to fix bug when arrow applies color of parent anchor on ios
  z-index: 1;
}

@mixin arrow-right--white {
  @include arrow-right;
  border-left-color: $color-white;
  color: $color-white;
}

@mixin arrow-right--white-25 {
  @include arrow-right--white;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-left-width: 25px;
}

@mixin arrow-left {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 29px solid transparent;
  border-bottom: 29px solid transparent;
  border-right: 35px solid $color-crimson-01;
  color: $color-crimson-01; //color is needed to fix bug when arrow applies color of parent anchor on ios
  z-index: 1;
}

@mixin arrow-right--48 {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 29px solid $color-crimson-01;
  color: $color-crimson-01; //color is needed to fix bug when arrow applies color of parent anchor on ios
  z-index: 1;
}

@mixin arrow-down {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 35px solid $color-crimson-01;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
}

@mixin horizontal-arrow-vertical-align {
  top: 50%;
  margin-top: -30px;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centered-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin centered-horizontally {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin background-image($url) {
  background-image: url('#{$imagePath+$url}');
  background-repeat: no-repeat;
}

@mixin arrow-down-bottom {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  width: 0;
  height: 0;
  @include centered-horizontally;
  border-top: 13px solid $color-crimson-01;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

@mixin full-size-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin border-shadow-red {
  border: 1px solid $color-whisper;
  box-sizing: border-box;
  box-shadow: inset 0 0 30px 5px $color-red-01, 0 0 22px 9px $color-red-01;
}