.commodities-list-container {
    width: calc(95% - 250px);
    margin-left: 5%;

    .commodities-list {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;
    }
}  