@import 'assets/styles/settings/colors';
@import 'assets/styles/settings/global';
@import 'assets/styles/settings/global';
@import 'assets/styles/tools/globalMixins';

html {
  font-size: 48px;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: $color-black;
  color: $color-white;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

#app, .app-wrapper, .main-container {
  height: 100%;
}

#app {
  @media #{$media-query-device-desktop} {
    zoom: 0.5;
  }
}

.app-wrapper {
  background-color: $color-black;
  width: $appWidth;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: $fn-FuturaComBookNormal;
  color: $color-white;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  @supports (padding: m#{a}x(0px)) {
    .main-container {
      padding-bottom: m#{a}x(40px, env(safe-area-inset-bottom));
    }
  }
}

.footer-logo {
  @include background-image('footer-logo.png');
  display: inline-block;
  background-size: cover;
}

.footer-logo--small {
  width: 283px;
  height: 90px;
  margin-bottom: 20px;
}