.admin-page {
    .header-title {
        margin-bottom: 20px; 
    }
    .admin-component {
        margin-top: 50px;

        .add-component {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;

            label {
                margin-right: 5px;
            }

            .add-item {
                margin: 0 5px;
                display: flex;
                align-items: center;

                .Select {
                    width: 50%;
                }
            }

            .add-commodity-code {
                width: 35%;
            }

            .add-commodity-category {
                width: 50%;
            }

            .add-category-name {
                width: 50%;
            }
            
            .add-button {
                height: 50px;
                width: 100px;
                margin-left: 40%;
            }

            .add-button-commodities {
                margin-left: 5%;
            }
        }

        .edit-item {
            width: 100%;
            height: 100px;
            margin: 5px 0;
            display: flex;

            .edit-item-element {
                margin: 0 5px;
                display: flex;
                align-items: center;
                width: calc(25% - 10px);

                p {
                    margin: auto 0; 
                }
    
                &-image {
                    width: 100px;
                    
                    a {
                        width: 100%;
                        height: 100%;

                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                
                &-code {
                    width: 20%;
                }

                &-name {
                    width: 40%;

                    &-category{
                        width: 70%;
                    }
                }

                &-id {
                    width: 20%;
                }

                &-button {
                    width: auto;
                }
            }

            .delete-button {
                height: 50px;
                width: 100px;
            }

        }
    }
}