.commodity-page {
    padding: 0 100px 0 150px;

    h1 {
        text-align: center;
    }

    .commodity-main-container {
        display: flex;

        .commodity-image {
            width: 40%;
            max-height: 400px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .price-container {
            width: 50%;
            margin: 0 5%;

            .price-item {
                height: 80px;
                padding: 10px;
                display: flex;

                &:hover {
                    border: 2px solid cadetblue;
                    border-radius: 30px;
                }

                .store-image {
                    height: 80px;
                    width: 80px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: scale-down;
                    }
                }

                .store-price {
                    width: calc(100% - 80px);
                    text-align: right;
                    display: flex;

                    p {
                        width: 100%;
                        margin: auto 0;
                    }
                }
            }
        }
    }

    .commodity-characteristic-container {
        display: flex;

        .characteristic-container {
            width: 50%;


            .characteristic-items {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 10px 0;
                padding: 10px;

                &>div {
                    border-bottom: 1px solid black;
                }

                .characteristic-name {
                    text-align: left;
                }

                .characteristic-value {
                    text-align: right;
                }
            }
        }
        
        .description-container {
            width: 45%;
            margin-left: 5%;
        }
    }

    .commodity-responses-container {
        .response-item {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid silver;
            
            .response-header {
                display: flex;
                border-bottom: 1px solid silver;

                .response-author {
                    width: 80%;
                    text-align: left;
                }
    
                .response-rating {
                    width: 20%;
                    text-align: right;
                }
            }
        }
    }
}