$color-amber: #f8c303;
$color-apple: #45b44a;
$color-black-a50: rgba(0, 0, 0, 0.50);
$color-black-a60: rgba(0, 0, 0, 0.60);
$color-black-a70: rgba(0, 0, 0, 0.70);
$color-black: black;
$color-boulder-01: #757575;
$color-boulder-02: #7d7d7d;
$color-burnt-sienna: #f0715a;
$color-cinnabar: #e64334;
$color-cod-gray-01: #1a1a1a;
$color-cod-gray-02: #141414;
$color-crimson-01: #e51937;
$color-crimson-02: #ed1644;
$color-crimson-03: #c41130;
$color-dove-gray: #666666;
$color-dusty-gray: #999999;
$color-ecstasy: #f77a28;
$color-emperor: #555555;
$color-feijoa: #9CD373;
$color-french-gray: #c2c2c3;
$color-geraldine: #FD7E7E;
$color-gray-01: #909090;
$color-gray-02: #929292;
$color-green-haze: #00a62b;
$color-green-haze: #00ae46;
$color-iron-a70: rgba(231, 231, 232, 0.7);
$color-iron: #E7E7E8;
$color-lochmara: #0170c1;
$color-maroon-flush: #c62347;
$color-mercury: #e1e1e1;
$color-mine-shaft-01: #343434;
$color-mine-shaft-02: #2a2a2a;
$color-nobel: #9f9f9f;
$color-pelorous: #46b2bf;
$color-red-01: #FF0000;
$color-red-02: #E10707;
$color-scarlet: #ff2e00;
$color-silver-02: #b9b9b9;
$color-silver-chalice: #a3a3a3;
$color-spun-pearl: #a6a6a7;
$color-tundora-01: #4d4d4d;
$color-tundora-02: #464646;
$color-whisper: #EEE9F3;
$color-white-a30: rgba(255, 255, 255, 0.3);
$color-white: white;
$color-wild-sand-01: #f5f5f5;
$color-wild-sand-02: #ff2e00;
