$fontPath: '~assets/fonts/';
$imagePath: '~assets/images/';

$fn-FuturaComBookNormal: 'FuturaComBookNormal';
$fn-FuturaComBookBold: 'FuturaComBookBold';
$fn-FuturaComBookBoldItalique: 'FuturaComBookBoldItalique';
$fn-FuturaStdHeavy: 'FuturaStd-Heavy_2';
$fn-FuturaStdHeavyOblique: 'FuturaStd-HeavyOblique_2';
$fn-FuturaComBold: 'FuturaComBold';
$fn-FuturaComBoldOblique: 'FuturaComBoldOblique';
$fn-FuturaComBook: 'FuturaComBook';
$fn-FuturaComBookOblique: 'FuturaComBookOblique';
$fn-FuturaComLight: 'FuturaComLight';

$appWidth: 1080px;
$footerHeight: 123px;

$media-query-phone: 'screen and (max-width: 1080px)';
$media-query-desktop: 'screen and (min-width: 1081px)';
$media-query-device-desktop: 'screen and (min-device-width: 1081px)';