.home-page {
    .commodities-list-container {
        width: 100%;

        .commodities-list {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-gap: 10px;
        }
    }  

    .responses-newest {
        .response-item {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid silver;
            cursor: pointer;
            
            &:hover {
                border: 3px solid skyblue;
            }

            .response-header {
                display: flex;
                border-bottom: 1px solid silver;

                .response-author {
                    width: 80%;
                    text-align: left;
                }
    
                .response-rating {
                    width: 20%;
                    text-align: right;
                }
            }
        }
    }
}