.login-page {
    .login-form {
        width: 500px;
        margin: 0 auto;
        padding: 20px;

        .form-field {
            width: 100%;
            margin: 20px 0;

            label {
                width: 100%;
                font-size: 20px;
            }

            input {
                width: 100%;
                font-size: 20px;
            }
        }
        
        .login-button {
            width: 100%;
            align-content: center;

            button {
                width: 140px;
                height: 70px;
                margin: 30px 50px;
                font-size: 30px;
            }
        }
    }

}