.commodity-component {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;

    &:hover {
        border: 2px solid cadetblue;
        padding: 9px;
    }

    .commodity-image {
        height: 250px;
        object-fit: scale-down;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            max-width: 100%;
            max-height: 100%;
        }        
    }

    .commodity-name {
        display: block;
        height: 54px;
        font-size: 20px;
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
}
