@import 'assets/styles/settings/colors';
@import 'assets/styles/tools/fontMixins';

* {
    font-family: $fn-FuturaComBookNormal;
}

#app {
    min-height: 100%;
}

a { 
    text-decoration: none;
    color: black;
}

.header-title {
    width: 100%;
    text-align: center;

    h1 {
        font-family: $fn-FuturaComBookBold;
        font-size: 60px;
        letter-spacing: 1px;
    }
}

.page-content {
    padding: 30px;

    .content {
        max-width: 1440px;
        margin: auto;
    }
}

.delete-button {
    background-color: $color-geraldine;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.add-button {
    background-color: $color-feijoa;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.ok-button {
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
