@import 'assets/styles/settings/colors';
@import 'assets/styles/settings/global';
@import 'assets/styles/tools/fontMixins';

.loader__wrapper_ {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 100;
  grid-column: 1 / -1;
  background-image: url("/web/src/assets/icons/beer.gif");
  
}

